.container {
  min-width: 300px;
  max-width: 500px;
  width: 90%;
  height: 600px;
  border: 5px solid rgb(0, 0, 0, .5);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.display {
  width: 100%;
  height: auto;
  background: rgb(255,255,255,0.3);
  backdrop-filter: blur(50px);
  font-family: 'calculator';
  text-align: right;
}

.display * {
  margin: 0;
  line-break: anywhere;
}

.grid-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  place-items: center;
  width: 100%;
  flex: 1;
  font-size: 1.5em;
}

.outputScreen {
  padding-top: 2%;
  padding-right: 1%;
  font-size: 1.5em;
  color: white;
}
.formulaScreen {
  padding-top: 5%;
  padding-right: 1%;
  padding-bottom: 2%;
  font-size: 2em;
}