*, *::before, *::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'calculator';
  src: url('../font/Calculator.ttf');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 100vw;
  height: 100vh;
  background: #c2c2d6;
  display: grid;
  place-items: center;
  background-image: url('https://static.vecteezy.com/system/resources/previews/001/217/210/non_2x/binary-code-background-vector.jpg');
  background-size: cover;
  background-repeat:no-repeat;
  position: fixed;
}
